*{
    margin :0px;
    padding :0px;
}

#con1{
    width: 100px;
    height: 100px;
    background-color:orange;
    border: 4px solid black;
    margin: 50px;
    padding: 60px; 
    
    box-sizing: border-box;

    text-align: center;
    

}